body{
  margin: 0 0;
  padding: 0 0;
  font-family: arial;
}

button{
  cursor:pointer;
  border-radius: 7px;
  font-size: 150%;
    min-width: 6vw;
    min-height: 5vh;
    color: white;
}

h2{
  font-size: 3.2rem;
}

p{
  font-size: 1.7rem;
}

.br{
  display: none;
}

@keyframes pulse {
    0% {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.1) rotate(-1deg);
    }
    50% {
      transform: scale(1.1) rotate(1deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
}

.play button{
  background: rgb(112, 48, 160);
  border-color: rgb(127, 177, 124);
  min-width: 350px;
  animation: pulse 6s linear 1.5s infinite normal;
}

.register button{
  background: rgb(255, 192, 0);
  border-color: rgb(127, 177, 124);
  min-width: 350px;
  animation: pulse 6s linear 1.5s infinite normal;
}

.almost-there button{
  background: rgb(0, 112, 192);
  border-color: rgb(127, 177, 124);
  min-width: 350px;
  animation: pulse 6s linear 1.5s infinite normal;
}

.cover{
  top: 0;
  background-image: url('imgs/cover-para.png');
  width: 100%;
  height: 90vh;
  background-size: 100% 100%;
  position: fixed;
  z-index: 0;
}

.bod{
  margin-top: -20px;
  position: relative;
  top: 90vh;
  background-image: url('imgs/body.png');
  height: 190vw;
  background-size: 100% 100%;
}

.reg-log{
  position: absolute;
  right: 5vw;
  top: 10vh;
}

.reg-log button {
  font-size: 150%;
    min-width: 6vw;
    min-height: 5vh;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;
}

.reg-log button:hover{
  color:green;
}

.register{
  position: absolute;
  top: 6%;
  left:35vw;
}

.play{
  position: absolute;
  top: 31%;
  left:35vw;
}

.almost-there{
  position: absolute;
  top: 55%;
  left:35vw;
}

.social-media{
  width: 50%;
  position: absolute;
  left: 25%;
  top: 95%;
  text-align: center;
}

.social-media a{
  margin: 10%;
}

img{
  position: relative;
  max-width: 50px;
  max-height: 50px;
}


/*ASPECT RATION 6/5*/

@media (max-aspect-ratio: 6/5){
  .cover{
    height: 45vh;
  }

  .bod{
    margin-top:0;
    position: relative;
    top: 45vh;
    background-image: url('imgs/body.png');
    height: 190vw;
    background-size: 100% 100%;
  }

  .reg-log{
    position: absolute;
    right: 2vw;
    top: 2vh;
  }

  .br{
    display: block;
  }

  p{
    font-size: 2.2rem;
  }

}

/*media querty for tablet*/
@media screen and (max-width:1250px) {
  .br{
    display: block;
  }
}
